.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 1312px;
  padding-top: 100px;
}
.image-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.image {
  width: 45%; 
  height: auto; 
}

.image2{
  width: 45%; 
  height: auto; 
  padding-bottom: 100px;
}

.title {
  color: #F55892;
  padding-top: 50px;
}


@media (max-width: 1024px) {
  .container {
    width: 90%; 
    padding-top: 80px;
  }

  .image {
    width: 48%; 
  }
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-top: 60px;
  }

  .image-container {
    flex-direction: column; 
    align-items: center;
  }

  .image {
    width: 80%; 
    margin-bottom: 20px; 
  }

  .title {
    font-size: 1.5em; 
    padding-top: 40px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 40px;
  }

  .title {
    font-size: 1.2em;
  }

  .image-container img {
    width: 400px;
    height: 400px; 
  }
}
.contribution-display {
  position: relative;
  text-align: center;
  opacity: 0;
  animation: fadeInOut 7s infinite;
  max-width: 100%; 
  margin: 0 auto; 
}

@keyframes fadeInOut {
  0%, 20% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}

.name, .time, .amount {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px; 
  line-height: 1.6;
}
